<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Posttters - Local Posters of stuff that you love</title>

  <!-- Application styles. -->
  <link rel="stylesheet" href="/css/posttters.css">
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <hgroup class="branding">
        <h1><a href="#">Posttter</a></h1>
        <h2>Local posters of stuff that you love</h2>
      </hgroup>
      <nav class="nav-user">
        <ul>
          <li><a href="#posters/new">Submit a Poster</a></li>
          <li><a href="#login">Login</a></li>
          <li><a href="#register">Register</a></li>
        </ul>
      </nav>
      <nav class="nav-main">
        <ul>
          <li><a href="#/posters/for/local-events">Local Events</a></li>
          <li><a href="#/posters/for/concerts">Concerts</a></li>
          <li><a href="#/posters/for/movements">Movements</a></li>
          <li><a href="#/posters/for/conferences">Conferences</a></li>
          <li><a href="#/tags">All Categories</a></li>
        </ul>
      </nav>
    </header>
    <div id="postttersapp">
      
    </div>
    <footer id="footer">
      
    </footer>
  </div>
  <!-- Application source. -->
  <script data-main="/js/main.js" src="/js/libs/require/require.js"></script>
</body>
</html>