/* Colors */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'ChunkFive';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: url("../fonts/Chunkfive-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Chunkfive-webfont.woff") format('woff'), url("../fonts/Chunkfive-webfont.ttf") format('truetype'), url("../fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #d9d9d9;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}
button,
input,
select,
textarea {
  color: #444;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}
a {
  color: #8fb6e7;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
input[type=text],
select,
textarea {
  border: none;
  -webkit-appearance: none;
}
.input-med {
  width: 410px;
  padding: 15px 35px 15px 15px;
}
.input-large {
  width: 570px;
  padding: 15px 35px 15px 15px;
}
.input-main {
  font-family: 'ChunkFive', Verdana, sans-serif;
  font-size: 24px;
}
.input-desc {
  font-size: 16px;
  transition: height 0.2s;
}
.input-pass {
  background: #fff url("../img/input-pass.png") 100% 5px no-repeat;
}
.input-pass.input-med {
  background-position: 430px 16px;
}
.input-pass.input-med.input-main {
  background-position: 430px 20px;
}
.input-error {
  background: #fd402d;
  padding: 10px 15px;
  color: #fff;
}
.control-group {
  margin-bottom: 20px;
}
.control-group > label {
  display: block;
  margin-bottom: 5px;
}
.form-actions {
  text-align: right;
}
.form-poster {
  *zoom: 1;
}
.form-poster:before,
.form-poster:after {
  content: "";
  display: table;
}
.form-poster:after {
  clear: both;
}
.form-poster-img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
  *width: 460px -correction;
  *margin: 0 10px -correction;
}
.form-poster-img > img {
  margin-bottom: 10px;
}
.form-poster-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
  *width: 460px -correction;
  *margin: 0 10px -correction;
}
.poster-image-upload {
  text-align: right;
}
.poster-image-placeholder {
  border: #fff 15px solid;
  padding: 15px;
  background: #8fb6e7;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.poster-image-placeholder > h3 {
  font-size: 24px;
  margin: 5px;
}
.bnc-multidate-debug {
  width: 100%;
  border: #ccc solid 1px;
}
.bnc-multidate-wrap {
  background: #fff;
  padding: 15px;
}
.bnc-multidate-field {
  color: #444;
}
.bnc-multidate-field > label {
  padding-right: 3px;
}
.bnc-multidate-date-input-from,
.bnc-multidate-date-input-to {
  background: #d9d9d9;
  padding: 5px;
  height: 34px;
  width: 120px;
}
.bnc-multidate-date-input-from {
  margin-right: 10px;
}
.bnc-multidate-add,
.bnc-multidate-remove {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: #9cd894;
  color: #fff;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
  line-height: 44px;
  position: relative;
  top: 4px;
  margin-left: 7px;
}
.bnc-multidate-add:hover,
.bnc-multidate-remove:hover {
  background: #4ab03d;
}
.btn {
  background: #2152bf;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.btn:hover {
  background: #4981fd;
}
.btn-delete {
  background: #fd402d;
}
.btn-delete:hover {
  background: #fd5342;
}
.btn-submit {
  background: #fd402d;
  font-family: 'ChunkFive', Verdana, sans-serif;
  font-size: 32px;
  padding: 10px 20px;
}
.wrap {
  display: block;
  margin: 0 10px;
}
p {
  margin: 0;
  margin-bottom: 0.5em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}
h1,
h2,
h3 {
  font-family: 'ChunkFive', Verdana, sans-serif;
}
h2 {
  font-size: 32px;
}
hgroup h2 {
  display: inline;
  margin: 0;
}
hgroup h2 + h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 13px;
  display: inline;
  margin: 0;
  padding-left: 10px;
}
.page-title {
  margin-bottom: 30px;
}
body {
  background: url("../img/dark-wood.png") repeat;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}
#main {
  *zoom: 1;
  clear: both;
}
#main:before,
#main:after {
  content: "";
  display: table;
}
#main:after {
  clear: both;
}
#header {
  *zoom: 1;
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
.branding {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  *width: 300px -correction;
  *margin: 0 10px -correction;
}
.branding > h1 {
  margin: 0;
  font-size: 64px;
  line-height: 1em;
  margin-bottom: -9px;
}
.branding > h1 a {
  color: #fd402d;
}
.branding > h2 {
  margin: 0;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}
.nav-user {
  position: absolute;
  top: 20px;
  right: 10px;
}
.nav-user li {
  display: inline;
  padding-left: 10px;
}
.nav-main {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  *width: 620px -correction;
  *margin: 0 10px -correction;
  text-align: right;
  margin-top: 20px;
}
.nav-main li {
  display: inline;
  padding-left: 10px;
}
.nav-main a {
  background: #2152bf;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  line-height: 30px;
}
.nav-main a:hover {
  background: #4981fd;
}
.posters > header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  *width: 940px -correction;
  *margin: 0 10px -correction;
}
.posters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posters-list > li:nth-child(3n+1) {
  clear: both;
}
.poster-excerpt {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  *width: 300px -correction;
  *margin: 0 10px -correction;
  margin-bottom: 50px;
}
.poster-excerpt img {
  margin-bottom: 20px;
  border: #fff solid 15px;
}
.poster-excerpt-title {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.poster-img {
  border: #fff solid 15px;
}
.poster-img-large {
  max-width: 590px;
}
.poster-img-med {
  max-width: 430px;
}
.poster-img-small {
  max-width: 270px;
}
.poster-single {
  *zoom: 1;
}
.poster-single:before,
.poster-single:after {
  content: "";
  display: table;
}
.poster-single:after {
  clear: both;
}
.poster-single-title {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  *width: 940px -correction;
  *margin: 0 10px -correction;
  margin-bottom: 20px;
}
.poster-single-title > h2 {
  margin-bottom: 10px;
}
.poster-single-title > p {
  font-size: 16px;
  line-height: 1.25em;
}
.poster-single-image {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  *width: 620px -correction;
  *margin: 0 10px -correction;
}
.poster-single-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  *width: 300px -correction;
  *margin: 0 10px -correction;
}
.poster-single-image,
.poster-single-info {
  margin-bottom: 40px;
}
.poster-comments {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  *width: 620px -correction;
  *margin: 0 10px -correction;
}
.poster-comments > header {
  margin-bottom: 20px;
}
.poster-comments > header h3 {
  font-size: 32px;
  margin-bottom: 10px;
}
.poster-comments > header h4 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.poster-dates {
  margin-bottom: 30px;
}
.poster-dates > ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.poster-dates > ol > li {
  padding: 0;
  margin: 0;
  clear: both;
  margin-bottom: 10px;
  color: #fff;
}
.poster-dates .month {
  float: left;
  width: 105px;
  font-family: 'ChunkFive', Verdana, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 41px;
  text-align: right;
  padding-right: 10px;
}
.poster-dates .day {
  font-weight: bold;
  display: inline;
}
.poster-dates .year {
  display: inline;
}
.poster-dates .time {
  display: block;
}
.poster-location {
  margin-bottom: 30px;
}
.poster-location .map {
  border: #fff solid 15px;
}
.poster-location > address {
  padding-top: 5px;
  text-align: right;
  font-style: normal;
}
.poster-price {
  margin-bottom: 30px;
  *zoom: 1;
}
.poster-price:before,
.poster-price:after {
  content: "";
  display: table;
}
.poster-price:after {
  clear: both;
}
.poster-price .price {
  font-size: 24px;
  float: left;
  width: 105px;
  padding-right: 10px;
  text-align: right;
}
.poster-price .price-comments {
  float: right;
  width: 185px;
}
.poster-tags {
  margin-bottom: 30px;
}
.poster-tags a {
  background: #fd402d;
  color: #fff;
  padding: 3px 10px;
  display: inline-block;
  margin-right: 5px;
}
.poster-tags a:hover {
  background: #fd4f3e;
}
.sponsor-ad img {
  border: #fff solid 15px;
  width: 270px;
}
