.btn {
  background: $bright-blue;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  &:hover {
    background: $accent-blue;
  }
}
.btn-delete {
  background: $red-logo;
  &:hover {
    background: lighten($red-logo, 10%);
  }
}
.btn-submit {
  background: $red-logo;
  type-heading();
  font-size: 32px;
  padding: 10px 20px;
}