/* Fonts */
@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/Chunkfive-webfont.eot');
  src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Chunkfive-webfont.woff') format('woff'),
     url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
     url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
type-heading()
  font-family: 'ChunkFive', Verdana, sans-serif;

type-basic()
  font-family: Helvetica, sans-serif;
  font-weight: 100;