<header class="poster-single-title">
  <h2><%= title %></h2>
  <p><%= content %></p>
</header>
<section class="poster-single-image">
  <img src="<%= images.large %>" alt="<%= title %>" class="poster-img poster-img-large" />
</section>
<section class="poster-single-info">
  <% if (dates.length > 0) { %>
    <section class="poster-dates">
      <ol>
        <% _.each(dates, function (adate) { %>
          <li>
            <span class="month"><%= adate.month %></span>
            <span class="day"><%= adate.day %>,</span>
            <span class="year"><%= adate.year %></span>
            <span class="time"><%= adate.time %></span>
          </li>
        <% }); %>
      </ol>
    </section>
  <% } %>
  <section class="poster-location">
    <div class="map">
      <img src="/img/map-placeholder.jpg" alt="Map Placeholder" class="img-bordered" />
    </div>
    <address><%= address %></address>
  </section>
  <section class="poster-price">
    <span class="price"><%= price %></span>
    <p class="price-comments">Tickets are $45.00 per person and include wine samples, live entertainment, and, of course, plenty of pork.</p>
  </section>
  <section class="poster-tags">
    <div class="body">
      <a href="#">Outdoors</a>
      <a href="#">Wine</a>
      <a href="#">Winery</a>
      <a href="#">Food</a>
    </div>
  </section>
  <aside class="sponsor-ad">
    <p>Sponsors Ad</p>
    <a href="#">
      <img src="/img/banner-sample.png" alt="Ad Placeholder" class="img-bordered img-small" />
    </a>
    <!-- <a href="#">
      <img src="/img/banner_king.jpg" alt="Banner King" class="img-bordered img-small" />
    </a> -->
  </aside>
</section>
<section class="poster-comments">
  <header>
    <hgroup>
      <h3>Any comments about this poster?</h3>
      <h4>Let the poster publisher know what you think</h4>
    </hgroup>
  </header>
  <form class="comments-form">
    <div class="control-group">
      <textarea class="input-large" name="comment" id="comment" placeholder="Your comment or question..."></textarea>
    </div>
    <footer class="form-actions">
      <input type="submit" class="btn" value="Send Comment" />
    </footer>
  </form>
  <ol class="commentlist">
    <li class="comment even thread-even depth-1">
      <a name="comment-17289"></a>
      <div id="li-comment-17289" class="comment-container">
        <div class="avatar">
          <img alt="" src="http://0.gravatar.com/avatar/a1c1225be8d547f7eee7fe94e8a3f7ac?s=40&amp;d=&amp;r=G" class="photo avatar avatar-40 photo grav-hashed grav-hijack" height="40" width="40" id="grav-a1c1225be8d547f7eee7fe94e8a3f7ac-0"/>
        </div>
        <div class="comment-head">
          <span class="name">Matth</span>
          <span class="date">August 3, 2011 at 4:43 pm</span>
          <span class="perma"><a href="http://jorgepedret.com/web-development/placeholder-text-for-gravity-form-input-elements/comment-page-1/#comment-17289" title="Direct link to this comment">#</a></span>
          <span class="edit"></span>
        </div><!-- /.comment-head -->
        <div class="comment-entry" id="comment-17289">
          <p>Jorge, you are a genius!</p>
          <p>Your solution is brilliant. You just saved me a LOT of time. Thank you,  Matth</p>
            <div class="reply">
              
            </div><!-- /.reply -->
        </div><!-- /comment-entry -->
      </div><!-- /.comment-container -->
    </li>
  </ol>
</section>